# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
back-end/node_modules
front-end/node_modules

# testing
front-end/coverage

# production
back-end/build
front-end/build

npm-debug.log*
yarn-debug.log*
yarn-error.log*
